In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                   'C' : [1,3,5,7,2,4,6,9],
                   'D' : np.random.randn(8)})

In [46]:
# Show the data frame
df

     A      B  C         D
0  foo    one  1  0.613505
1  bar    one  3  1.313802
2  foo    two  5  1.026184
3  bar  three  7 -0.536637
4  foo    two  2 -0.493658
5  bar    two  4 -1.564259
6  foo    one  6 -0.283757
7  foo  three  9 -0.368215

In [48]:
# Find all the values in 'A'
df.groupby('A').groups.keys()

['foo', 'bar']

In [50]:
# Counts in ecah column
df.groupby('A').count()

     B  C  D
A
bar  3  3  3
foo  5  5  5

In [51]:
# AMx of each column
df.groupby('B').max()

         A  C         D
B
one    foo  6  1.313802
three  foo  9 -0.368215
two    foo  5  1.026184

In [36]:
# Only show two columns
df.groupby('A')['C','D'].count()

     C  D
A
bar  3  3
foo  5  5

In [52]:
# filter for 'A' == 'foo'
df[df['A'] == 'foo'].groupby('B').count()

       A  C  D
B
one    2  2  2
three  1  1  1
two    2  2  2

In [54]:
# Group by two columns
df.groupby(['A','B']).min()

           C         D
A   B
bar one    3  1.313802
    three  7 -0.536637
    two    4 -1.564259
foo one    1 -0.283757
    three  9 -0.368215
    two    2 -0.493658